/*
font-family: 'Maven Pro', sans-serif; 400 700
font-family: 'Quattrocento', serif; 400 700
font-family: 'Sriracha', cursive; 400
*/


body {
  background-color: #57bb6b;
  max-width: 380px;
  margin: auto;
}


.site-header {
  text-align: center;
  background-image: url(../img/fruits.webp);
  background-size: cover;
  margin: auto;
}


h1 {
  color: #57bb6b;
  font-family: 'Quattrocento', serif;
  font-weight: lighter;
  font-size:  20px;
}


.logo-card {
  text-align: center;
  background-color: #ffffffba;
  margin: 28px 30px 10px 30px;
  padding: 20px 50px;
}

header img {
  text-align: center;
}


.button {
  background-color: #57bb6b;
  text-align: center;
  display: inline-block;
  padding: 15px;
  margin: 10px;
  border: 2px solid;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}


.button-light {
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: auto;
  border: 2px solid;
  color: #57bb6b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}



h2 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  color: #57bb6b;
  text-align: center;
  font-size: 26px;
}

p {
  font-family: 'Quattrocento', serif;
  font-weight: lighter;
  font-size: 16px;
}

.product {
  padding: 50px;
}


main h2{
  color: black;
}

h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
}

.little-fruts {
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  flex-direction: row;
}

.fruits-container {
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 50px 0;
}

.fruits-container img{
  width: 28px;
}

.background-light {
  background-color: white;
  padding: 50px;
  margin: auto;
}

.button-container {
  color: #57bb6b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

footer h2 {
  color: #57bb6b;
  text-align: center;
}

footer p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
  color: #57bb6b;
  text-align: center;
}

.banana-box {
  background-color: #FFF8D7;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.454);

}

.logo-container {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.logo-container img {
  width: 80px;
}

main {
  background-color: #57bb6b;
  margin-bottom: 50px;
}

.green-light {
  background-color: #C4F2AD;
  text-align: center;
  padding: 20px 50px;
}

.green-light img{
  width: 100px;
  padding: 30px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.454);
  margin-bottom: 40px;
}

main p {
  margin: 30px;
  
}

main img {
  text-align: center;
  margin: 30px;
}

h4 {
  text-align: center;
  font-family: 'Quattrocento', serif;
  color: white;
}
ul {
  font-family: 'Quattrocento', serif;
  color: white;
}
.paragraph {
  color: white;
}

.title {
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 50px;
}

.green-light-2 {
  background-color: #C4F2AD;
  padding: 30px;
}

.small-card-strawberry {
  background-color: #F7A4B4;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.454);
  font-size: 20px;
}


.flex-fruit-container img {
  width: 55px;
}

.flex-fruit-container {
  font-family: 'Maven Pro', sans-serif;
  font-size: 40px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  color: rgb(63, 41, 41);
}

